<form action="write" method="POST">
<div class="container" >
    <div class="card mx-auto d-block">
  <img class="card-img-top w-100 p-3 " src="https://t.wootza.com/assets/logo/logo_god.png" alt="">
  <hr>
  <div class="card-block">
    <p class="card-text d-flex justify-content-center">신이 나를 만들 때</p>
  </div>
  <div class="card-block form-group w-25 p-3 mx-auto ">
    <input type="text" name="users" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="이름을 입력하세요">
    <br>
    <fieldset class="form-group " style="text-align:left">
    <legend >성별</legend>
    <div class="form-check">
      <label class="form-check-label ">
        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="man" checked>
       남자
      </label>
    </div>
    <div class="form-check">
    <label class="form-check-label">
        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="woman">
       여자
      </label>
    </div>
    
  </fieldset>
    <button style="float:right" type="submit" class="btn btn-primary">확인</button>

    
    
  </div>
</div>

</div>
   </form>
 